# Challenge 3: Create a Travel Itinerary with a Corresponding Map

In [18]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [19]:
gmaps.__version__

'0.9.0'

In [20]:
gmaps.configure(api_key=g_key)

In [21]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [22]:
vacation_df.head()

   City_ID         City Country  Max Temp    Lat     Lng          Hotel Name
0        1       avarua      CK     75.20 -21.21 -159.78        Paradise Inn
1        4  yellowknife      CA     79.00  62.46 -114.35  The Explorer Hotel
2        6       katobu      ID     74.10  -4.94  122.53       La Ode Husein
3        7     cherskiy      RU     84.15  68.75  161.30          Gostinitsa
4        9         jalu      LY     74.10  29.03   21.55          Jalu Hotel

In [23]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [24]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
vacation_start = vacation_df.loc[vacation_df["City"] == "erenhot"]
vacation_end = vacation_df.loc[vacation_df["City"] == "yuxia"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "yebaishou"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "shunyi"]

In [26]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(43.65, 111.98)
(34.06, 108.63)
(41.4, 119.64)
(40.12, 116.65)

In [33]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [29]:
itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
191,492,erenhot,CN,74.77,43.65,111.98,Erenhot Rurouni Youth Hostel
166,430,yuxia,CN,73.00,34.06,108.63,Xinhua Hostel
94,253,yebaishou,CN,70.79,41.40,119.64,Siji Home
183,474,shunyi,CN,86.00,40.12,116.65,Beijing Mingchen Holiday Hotel

In [30]:
itenerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,492,erenhot,CN,74.77,43.65,111.98,Erenhot Rurouni Youth Hostel
1,430,yuxia,CN,73.00,34.06,108.63,Xinhua Hostel
2,253,yebaishou,CN,70.79,41.40,119.64,Siji Home
3,474,shunyi,CN,86.00,40.12,116.65,Beijing Mingchen Holiday Hotel

In [31]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat", "Lng"]]

In [32]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))